.favourite-box {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-left: 0;
}

.favourite-box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.favourite-box-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}
