* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color scheme*/
.success {
  background-color: greenyellow;
}

.normal {
  background-color: white;
}

.danger {
  background-color: red;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-link {
  color: lightseagreen;
}

.button {
  padding: 6px 8px;
  border-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  background-color: white;
}

.separator {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  width: 100%;
}

.svg-button {
  transition: all 0.5s;
  cursor: pointer;
}

.svg-button:hover {
  opacity: 0.5;
}

img {
  object-fit: cover;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found img {
  width: 400px;
  margin: 30px;
}

.page-header {
  padding: 25px;
}
