.auth-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-page h1 {
  text-align: center;
  padding: 25px;
}

form[method="POST"] {
  background-color: white;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form[method="POST"] label,
form[method="POST"] input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  /* border: 0; */
  /* border-bottom: 2px solid green; */
}

.auth-page img {
  width: 400px;
}

.auth-page p {
  margin: 10px 0;
}

.icon-holder {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 10px;
  transform: translateY(50%);
  cursor: pointer;
  width: 20px !important;
}
