.catalog-item-box {
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}

.catalog-item-box img {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.catalog-item-description-box {
  height: 200px;
  border: 1px solid lightgray;
  border-left: 0;
  width: 500px;
}

.catalog-item-description-box p {
  padding: 5px 10px;
  max-height: 150px;
  overflow: hidden;
}

.catalog-item-box-description {
  font-size: 0.7rem;
}
