.create {
  position: relative;
}

.create form {
  display: flex;
  align-items: center;
  flex-direction: column;

  flex-basis: 30%;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  z-index: 1;
}

input[type="file"] {
  visibility: hidden;
  height: 0;
}

.create img {
  width: 200px;
}

.create textarea[name="description"] {
  height: 200px;
  width: 100%;
  padding: 10px;
  resize: none;
}

.create label img {
  width: 30px;
  margin-left: 10px;
}

.create label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.create-bg-img {
  z-index: 0;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px !important;
}

.create input[type="submit"] {
  margin-top: 15px;
}

.create button {
  margin-top: 15px;
}

.select-text-wrap:hover {
  cursor: pointer;
}
