.home {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: url("../img/bg1.jpeg");
  background-size: cover;
}

.home h2,
.home p {
  color: white;
  background-color: black;
  padding: 20px;
  margin-bottom: 10px;
}
